body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background: #1e88e5;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.hero-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 12px;
    font-size: 16px;
    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #1565c0;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #777;
}

.hero-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 30px;
    /* Анімація */
    transition: transform 1s ease-in-out, opacity 0.6s ease-in-out;
}

.section-desc {
    margin-bottom: 40px;
    color: #555;
}

.tour {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

    .tour.reverse {
        flex-direction: row-reverse;
    }

    .tour img {
        width: 45%;
        aspect-ratio: 18 / 10;
        object-fit: cover;
        border-radius: 8px;
    }

.tour-text {
    width: 55%;
}

    .tour-text h3 {
        margin-top: 0;
        color: #1e88e5;
    }
.rateBox {
    margin-top: 30px;
    padding: 20px;
    border-radius: 8px;
    background: #f4f6f8;
    font-size: 18px;
}

.ratesBox p {
    margin: 10px 0;
}

.video-section {
    margin: 50px 0;
    text-align: center;
}

.video-section iframe {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
}